[2015-08-25 14:39] davidtheclark opened #1 "animated demo"

[2015-08-25 14:41] davidtheclark opened #2 "3rd example opening position"
Because the focus is on the dialog itself, the page is scrolled so that element is at the very top of the viewport. It would be better with some padding on the top for that initial view.

[2015-08-25 14:42] davidtheclark opened #3 "Demo should explain details and link back to repo"

[2015-08-25 14:42] davidtheclark opened #4 "Unit tests"

[2015-08-25 14:44] davidtheclark opened #5 "Abstract body-appending to other module"
The functionality of appending the component's actual DOM node to `body` instead of its place within the JSX-suggested source order (while still maintaining the same relationship with the tree of elements, updating, unmounting, etc.), could be useful for other modules (e.g. an obstructive loading spinner).

[2015-08-30 15:54] davidtheclark commented on #5
Done with https://github.com/davidtheclark/react-displace

[2015-08-30 15:54] #5 closed

[2015-08-30 15:54] davidtheclark commented on #4
Determined that these would not be very valuable with the current setup.

[2015-08-30 15:54] #4 closed

[2015-08-30 15:55] #3 closed

[2015-08-30 15:55] #2 closed

[2015-08-30 15:55] #1 closed

[2015-09-02 13:11] esseb opened #6 "ReferenceError: document is not defined when using React.renderToString"
ReferenceError: document is not defined
    at Object.<anonymous> (/home/esseb/repositories/test/node_modules/react-aria-modal/node_modules/no-scroll/index.js:2:11)

[2015-09-02 13:13] davidtheclark commented on #6
Thanks. I do not have experience yet with server-side rendering. Seems like this problem will be solved if `no-scroll` just quits early if there's no `document`. Does that sound right to you? (Some of the other modules might have to do the same.)

[2015-09-02 13:24] esseb commented on #6
I think that would work, yes.

It's ok if the component fails when it's *used* on the server. One suggestion I've seen to avoid server rendering issues like this is to do `import { canUseDOM } from 'react/lib/ExecutionEnvironment';` and then check `canUseDOM` in my render function and only print out `<AriaModal ...>` if `canUseDOM` is true.

As long as the server doesn't fail when I import `react-

[2015-09-02 13:33] esseb commented on #6
Similar issue in react-displace:
[code]

[2015-09-02 13:40] esseb commented on #6
`if (typeof document === 'undefined') { return; }` at the top of `no-scroll/index.js` and at the top inside `module.exports = function(Content, options) {` in `react-displace/index.js` solves my problem, although I don't know if that's the best way to solve this.

[2015-09-02 14:04] davidtheclark commented on #6
Thanks. I hope to be able to take care of this within the next day or two.

[2015-09-04 01:32] davidtheclark commented on #6
@esseb : I just published new patch versions of react-displace and no-scroll. Maybe, then, if you reinstall this module the thing will work for you. Can you let me know if it does? Thanks.

[2015-09-07 15:27] esseb commented on #6
Just tested it now and it works great. Thanks.

I love this library so far. There aren't many dialog libraries out there with good aria support, and even fewer as clean as this is, style and class wise.

[2015-09-07 15:27] #6 closed

[2015-09-07 15:50] davidtheclark commented on #6
Really glad to hear that it's working well for you. I'm always curious whether what works for me has any relevance to others :)

[2015-09-09 21:38] davidtheclark opened #7 "Give dialog max-width of 100%"
Otherwise its children (the user components) cannot reliably set the same.

[2015-09-13 20:20] #7 closed

[2015-11-02 22:57] davidtheclark opened #8 "Transform method of vertical centering can cause blurriness"
This is unfortunate.

Must try another method of vertical centering.

[2015-11-06 01:48] #8 closed

[2015-12-29 22:00] jamesjjk opened #9 "Context not being passed"
Hi, any child components to the Aria model seem to be loosing their context. It looks like its not being passed through correctly.

Thanks

[2016-01-03 01:23] davidtheclark commented on #9
This does not surprise me, because react-displace is used to take the modal out of its expected DOM position. The modal's contents are subject to a separate `ReactDOM.render()` call. So I'm not sure there is any way to pass context through. Open to ideas!

[2016-01-27 21:49] thomblake commented on #9
https://github.com/facebook/react/issues/4706 ?

[2016-01-27 21:51] thomblake commented on #9
(We are also having this problem) - react-router LifeCycle does not play well with react-aria-modal right now.

[2016-01-27 22:00] davidtheclark commented on #9
Thanks for the link. Seems like `unstable_renderSubtreeIntoContainer` is worth a try.

[2016-01-27 22:52] thomblake commented on #9
So I don't know if it's what you want but the linked commit solves it and has a test and this solves my issue.

[2016-01-27 22:55] davidtheclark commented on #9
Very cool, thanks! I will look into this within the next day or two, merge and release!

[2016-01-28 04:34] davidtheclark commented on #9
@thomblake: Do you want to submit a PR to react-displace? Or do you just want me to copy code over?

[2016-01-28 16:51] thomblake commented on #9
Sure I'll PR
On Jan 27, 2016 8:34 PM, "David Clark" <notifications@github.com> wrote:

[2016-01-29 13:38] davidtheclark commented on #9
Fix published in 2.1.0. Thanks again everybody!

[2016-01-29 13:38] #9 closed

[2016-01-29 18:54] thomblake commented on #9
Thanks for getting this out!

@jamesjjk ping In case you're not following this issue and it's still relevant.

[2016-02-10 16:11] davidtheclark opened #10 "Add prop for a main app container that should have aria-hidden=true when modal is open"
Per: https://www.w3.org/WAI/GL/wiki/Using_ARIA_role%3Ddialog_to_implement_a_modal_dialog_box#Description

[2016-02-13 17:30] #10 closed

[2016-04-07 04:13] adrianha opened #11 "Focus trap issue on react-aria-modal"
Hi David,
I am facing an issue for focus trap when i implemented react-aria-modal into my project.
i got this:

What cause the error?

[2016-04-08 01:28] davidtheclark commented on #11
It means that there are no focusable elements inside your modal. There needs to be at least one to trap the focus. Or else you could use the [focusDialog](https://github.com/davidtheclark/react-aria-modal#focusdialog) prop to make the dialog itself receive focus.

Please let me know if that works for you. And then let's try to clear up the docs so this confusion doesn't strike others — any suggest

[2016-04-08 02:38] adrianha commented on #11
You're right, It works to resolve the error. Maybe you can add the documentation about this. But the modal just showed the overlay, content inside its modal is not showed. i also have included required css. Any idea?

[2016-04-08 02:43] davidtheclark commented on #11
I suspect it's a CSS problem, but I can't tell more without details. I'd say closely compare what you have to the demos and see what's different.

[2016-04-08 02:54] adrianha commented on #11
okay @davidtheclark, thank you for your guidance. hope i can solve this issue. Btw, i really like your project (modal, tabpanel) 💃

[2016-04-19 16:41] mischlecht opened #12 "Remove hard coded style"
Hi David,

Is there any way we can choose not to have the inline style that gets generated on render?

I see there is a proptype for overlayClass and underlayClass but the inline style is still present when assigning  them a class.

Thanks,
Michael

[2016-04-19 23:13] davidtheclark commented on #12
Can you just pass `style=null` on those components?

[2016-06-22 17:16] vtocco opened #13 "Readme fix"
In the bottom example:
underlayClickExists={false}

Should be:
underlayClickExits={false}

[2016-06-22 23:06] davidtheclark commented on #13
Thanks! PR welcome.

[2016-06-22 23:51] vtocco commented on #13
PR #14, thanks for the great modal!

[2016-06-23 04:21] davidtheclark commented on #13
Closed by #14. Thanks!

[2016-06-23 04:21] #13 closed

[2016-06-23 04:22] davidtheclark commented on #11
Feel free to re-open if you can't figure it out.

[2016-06-23 04:22] #11 closed

[2016-06-24 21:57] oyeanuj opened #15 "Changing routes with Modal (onExit, modal behavior)"
Hi @davidtheclark! Firstly, thanks for providing this library - it has been great to be able to use it. I was running into some issues when integrating this with route changes.

My use-case is very similar to Pinterest/Product Hunt's behavior. There is a feed of posts and clicking on the post opens the same component in a modal view. Accompanying that action is a route change (from the feed to the

[2016-06-25 19:56] davidtheclark commented on #15
Yeah — why not a noop function: `function() {}`? Did this not work for you?

Sorry, I can't really help debug this. If the modal is working fine, then I guess it's probably not a problem with this module?

[2016-06-25 20:29] oyeanuj commented on #15
Thanks for the response, a couple of follow ups.

This doesn't work well with `<Link>` transition as the link transition doesn't seem to work when a noop is passed.

Could you also clarify the other behavior question above -

Finally re: this -

That sounds fair. I guess my question was more around whether I should expect any weirdness when invoking a modal from a component and passing that same c

[2016-07-19 19:47] oyeanuj commented on #15
@davidtheclark Just wanted to follow up on the above questions - any thoughts would be very helpful for me figuring out the issue.

[2016-07-19 19:53] davidtheclark commented on #15
Sorry, as I said above, I can't really help debug this from afar.

[2016-08-24 14:50] esseb opened #17 "Console error in Firefox after switching tab while dialog is open"
Steps to reproduce:
1. Clone the repo and run `npm install` and `npm run demo-dev`
2. Open http://127.0.0.1:8080/ in Firefox
3. Make sure you have at least one other tab open in Firefox
4. Open Firefox's Developer Tools in the react-aria-modal demo tab
5. Open the first demo dialog
6. While the react aria modal dialog is open, switch to another tab in Firefox
7. Switch back to the react-aria-modal

[2016-09-04 12:45] moroshko opened #18 "Uncaught TypeError: Cannot read property 'componentDidUpdate' of null"
Thanks a lot for a great accessible component!

I'm trying to add a demo example to [react-autosuggest](http://react-autosuggest.js.org/) that uses `react-aria-modal`.
Unfortunately, I get the following error when closing the modal:

**To reproduce:**
1. `git clone git@github.com:moroshko/react-autosuggest.git`
2. `cd react-autosuggest`
3. `git checkout 2b90102`
4. `npm install`
5. `npm start`
6.

[2017-01-09 23:02] davidtheclark opened #19 "getApplicationNode prop"
Right now we have `applicationNode`, which accepts a node. But this is not viable for static rendering. `getApplicationNode` would accept a function that returns a node, and so would work for static rendering.

[2017-01-10 16:40] #12 closed

[2017-01-10 16:41] davidtheclark commented on #15
Closing this issue as stale. @oyeanuj if you can provide a simplified example demonstrating a problem, please feel free to open a new issue.

[2017-01-10 16:41] #15 closed

[2017-01-10 16:46] davidtheclark commented on #18
@moroshko Sorry this fell through the cracks for me. The steps to reproduce no longer work so I don't have enough information here to debug. If you can provide more information or update steps, please re-open.

[2017-01-10 16:46] #18 closed

[2017-01-10 17:01] #19 closed

[2017-03-18 23:32] thejase opened #21 "Disable all inline styles?"
I'd really love to be able to specify an `underlayClass`, and then use that to fully style the modal without needing `!important`.   Sending properties to `underlayStyle` only extends the default styles.

[2017-03-19 00:23] thejase opened #22 "Can't render within component"
Is there a way to displace this modal within my app instead of a DOM element outside of the app?  Essentially, I would like it to be displaced within my component so I can use `position: absolute` to takeover the component.

[2017-03-19 14:50] davidtheclark commented on #22
@thejase There is not right now. Can you say more about what you want, though, because it sounds dubious to me. The main features of this component are that it traps focus, freezes scroll on the body, and appends the element at the bottom of the body instead of directly inline. It sounds like for your use-case you don't actually want *any* of these features, right? If that's the case, maybe you do

[2017-03-19 14:52] davidtheclark commented on #21
I believe you can empty the style object by passing empty values, right?

However, I agree that you should be able to do what you want (simply disable all inline styles and add a class, without having to pass an object full of empty values). Open to a PR!

[2017-03-20 03:29] thejase commented on #21
Thanks!  I'll look into it and send a PR!

[2017-03-20 03:34] thejase commented on #22
So I would prefer a trap on the modal. I'd just like it to only overlay on the content (not the site header), and allow manual untrapping via mouse (or other virtual input) on the header. In other words, the header and its menu should still function as an escape or change of flow.

That said, now that I think about it, that's arguably a non-modal dialog, so maybe this isn't the right place for thi

[2017-03-20 03:34] #22 closed

[2017-03-20 15:13] davidtheclark commented on #22
@thejase Yeah, I think I understand what you're going for, but I think it might require too many changes to this component — and you'd be better off using the building-block modules to put together a new component.

[2017-03-21 05:50] thejase opened #23 "onTransitionEnd?"
Is there any way to latch onto the underlay/dialog `onTransitionEnd` events?  I'm seeing your method of applying animation to the modal in demo five, but I'm leery to rely on setTimeout, as I'm using external CSS, and I would hate to have to edit the transition times in both places.

[2017-03-21 06:31] thejase commented on #21
Submitted in #24

[2017-03-23 14:33] davidtheclark commented on #23
@thejase I guess I don't understand the question. You can use `onTransitionEnd` if you'd like, right? Is something preventing that?

[2017-03-29 15:05] vnglst opened #25 "Relative positioning onscreen"
I'm trying to create a popup modal with a positioning relative to the button that's activating it, similar to the popup you see on Github, when you click on your profile picture.

![schermafdruk 2017-03-29 17 04 24](https://cloud.githubusercontent.com/assets/3457693/24461567/cd1ea50c-14a1-11e7-8422-4c02f648c894.png)

Is that possible with react-aria-modal?

[2017-03-30 01:36] davidtheclark commented on #25
@vnglst: Yep. The positioning of the element has nothing to do with the library, though: it's all about the CSS you yourself use.

[2017-03-30 01:36] #25 closed

[2017-03-30 08:25] vnglst commented on #25
Thanks for the quick repley @davidtheclark!

I'm trying to position the modal relative to it's parent (the button) but it seems to me that the component creates a new parent div (id="react-aria-modal-dialog") that's positioned over the screen. Relative positioning is then calculated relative to that div and not to the parent button. But maybe I'm doing something wrong.

I'm trying to recreate this

[2017-03-30 09:11] vnglst commented on #25
Or should I be using https://github.com/davidtheclark/react-aria-menubutton instead?

[2017-03-30 14:52] davidtheclark commented on #25
Oh @vnglst, my mistake: I misread and thought this *was* the `react-aria-menubutton` repo!

Yeah, I think you should give this library a try 👍 . I don't think the ARIA attributes for a modal are appropriate for the use-case you've depicted above.

[2017-04-02 13:16] vnglst commented on #25
That's completely understandable, since that would be the component to use. Giving it a try right now, works great. Relative positioning is no issue there! Thanks!

[2017-04-06 09:50] binoperez opened #26 "2 modals at the same time"
I tried displaying two modals at the same time but the click events on one of the modals are not firing. Is it possible or do you have any suggestion? Thank you.

[2017-04-06 14:47] davidtheclark commented on #26
This component is not designed to display two modals at once.

[2017-04-06 14:47] #26 closed

[2017-04-10 03:04] binoperez commented on #26
Thanks man! appreciate the quick reply.

[2017-04-13 08:38] AlmeroSteyn opened #28 "Using this in a React 15.5 application causes deprecation warnings"
With the release of React 15.5 the use of CreateClass instead of ES6 classes and referencing PropTypes from React itself are marked as deprecation warnings and this will be removed in React 16.

I have opened a PR on this for your consideration #27

[2017-04-21 23:32] #28 closed

[2017-04-30 18:19] davidtheclark commented on #21
Done in #24.

[2017-04-30 18:19] #21 closed

[2017-05-01 22:35] ccabrales opened #30 "Support for applying custom aria- or data- attributes"
Is there any thought on adding support for custom aria or data attributes on the dialog? For example, I also want to use aria-describedby to enhance accessibility, but currently there is no way to add it.

[2017-05-07 14:58] davidtheclark commented on #30
@ccabrales: Can you please give more details about the API you'd like — what inputs, and what rendering changes?

[2017-05-07 19:01] ccabrales commented on #30
@davidtheclark Essentially being able to forward any aria- or data- attributes to the dialog div (the one with `aria-label` or `aria-labelledby`).

For example, if I pass `aria-describedby` as a prop to AriaModal, I would like it to add that prop to the dialog div:
[code]
This would then add to `dialogProps` on line 150, similar to how `aria-labelledby` and `aria-label` are already being added. Do

[2017-05-16 01:15] davidtheclark commented on #30
@ccabrales: Sure, sounds fine! Open to a PR.

[2017-06-19 12:09] auswalk opened #34 "FocusTrap inside react-aria-modal - need to pause"
My understanding is that react-area-modal is itself a focustrap. Therefore when my FocusTrap inside my modal is activate I want to pause the react-aria-modal focustrap. I am trying something like this but I don't think it's working:
[code]
labelMenuIsOpen is a redux bool state variable.

[2017-06-19 14:00] davidtheclark commented on #34
@auswalk: 🤔  I haven't encountered this need before so haven't thought it through. You can see where focus-trap-react is invoked: https://github.com/davidtheclark/react-aria-modal/blob/7666b30ce1b8c355be306bd265bd39ae596f0308/src/react-aria-modal.js#L174-L184. At that point, we don't pass any props other than `focusTrapOptions`, which does not include `paused`. Maybe we should add a new prop to `A

[2017-06-19 14:33] auswalk commented on #34
Yeah I definitely agree this should be added. There are cases where components inside the modal conflict with the modals focus trap. This would be a nice addition. I'd do the PR myself but I'm not exactly sure how to go about it. Thanks!

[2017-06-19 19:19] auswalk commented on #34
Definitely any assistance would be much appreciated. It look like we need
to just pull in the paused prop the the AriaModal right?

On Mon, Jun 19, 2017 at 8:00 AM, David Clark <notifications@github.com>
wrote:

--
View my Public Key
<http://pgp.mit.edu/pks/lookup?op=get&search=0x0C2469FFCE5F3498> for secure
communication

[2017-06-27 15:30] lord-xeon opened #35 "React 15.6.x warnings"
Upon using react v15.6.1 I get this warning message in the console:

Looks like it's a relatively easy fix

[2017-06-27 16:05] davidtheclark commented on #35
🆒  Open to a PR!

[2017-06-27 16:21] lord-xeon commented on #35
I'd love to when I get time maybe this evening, but I wanted to get it out there in case someone else had the time

[2017-06-27 18:01] vnglst commented on #35
Maybe I could find a minute or two tomorrow to do this. Let me know if you already started on it @lord-xeon.

[2017-06-28 11:19] vnglst opened #36 "Example six no longer working in 2.6.0 release"
The example was still working fine in 2.5.2. Not sure what has changed. I'll try to look into it this weekend.

Screenshot when clicking button:

![schermafdruk 2017-06-28 12 42 43](https://user-images.githubusercontent.com/3457693/27633398-507da39a-5bff-11e7-88b3-1e983d1d470d.png)

[2017-07-02 17:40] davidtheclark commented on #35
Fixed by #37.

[2017-07-02 17:40] #35 closed

[2017-07-02 17:51] #30 closed

[2017-07-02 18:03] #36 closed

[2017-07-02 18:19] #34 closed

[2017-07-26 15:48] SammyM opened #39 "Option to switch 'noScroll' off"
I'm using this library to create a date and time picker, of which its positioning is directly underneath the button that was clicked in order to display the modal.

The modal I'm using is quite large, and on some mobiles it's larger than the screen. Would it be possible to add an option to disable the `noScroll` feature?

[2017-07-29 18:20] davidtheclark commented on #39
The way that I have done this in the past is to allow the backdrop element to scroll internally. Since the modal mounts within that, you should be able to scroll that way. Does that not work?

[2017-08-01 11:53] SammyM commented on #39
That won't work for what I need, as I can't put the whole page in the backdrop.

What I need is the following:

![datepicker](https://user-images.githubusercontent.com/1324289/28824036-370730b0-76b8-11e7-8b44-5e136273bb73.gif)

But I've had to hack things about to get it to do that which isn't ideal. Also it's still a bit buggy with the hack.

[2017-08-01 14:41] davidtheclark commented on #39
It seems like what you need is a popover, not a modal. I'm not sure the ARIA attributes provided by this module would be correct for your datepicker. Are they?

What benefits do you get from using this module? Is it the focus trap? If so, you could use that on its own.

[2017-08-01 15:46] SammyM commented on #39
I'm not 100% sure. I've looked at various date pickers out in the wild and some of them use the same ARIA attributes as this modal and some don't.

The benefits are the ARIA attributes, the focus trap, and the displacement. I tried using just the focus trap but it was buggy (https://github.com/davidtheclark/focus-trap-react/issues/14).

[2017-08-02 13:57] davidtheclark commented on #39
This module hasn't been designed for non-modal dialogs. If you want to create an issue that outlines what this would entail, I'd be interested in hearing. But I'm closing this one for now.

[2017-08-02 13:57] #39 closed

[2017-08-07 12:44] jlous opened #40 "Can't navigate to browser chrome"
To qualify as fully accessible, it should (at least optionally) be possible to tab out into the browser chrome, as with normal pages.

This guy has some good input on accessibility and modals (although without considering react):
https://www.smashingmagazine.com/2014/09/making-modal-windows-better-for-everyone/

[2017-08-07 13:54] davidtheclark commented on #40
Thanks! Found that point and example code in the ["Going full screen"](https://www.smashingmagazine.com/2014/09/making-modal-windows-better-for-everyone/#going-full-screen) section. Open to a PR fixing this, probably in [focus-trap](https://github.com/davidtheclark/focus-trap).

[2017-08-25 14:45] davidtheclark commented on #23
Closing as stale. Please re-open to continue the discussion.

[2017-08-25 14:45] #23 closed

[2017-08-26 17:16] davidtheclark commented on #40
@jlous — Curious: Have you seen any examples of accessible modals that do this (or recommendations besides that article)? Every example I come across contains focus completely within the modal.

[2017-08-26 17:42] jlous commented on #40
No, I have not. But I was drawn to this implementation because it generally
takes usability seriously.

On Aug 26, 2017 19:16, "David Clark" <notifications@github.com> wrote:

[2017-08-26 17:47] jlous commented on #40
This is by no means make-or-break to my use case, and I have not yet
addressed it in the homebrew solution I ended up with. Just put it out
there in case the most accessibility-conscious modal could conquer this
point too. But i see how it would require maybe too much change. Even the
solution in the article I mentioned only works one way out of the dialog.

On Aug 26, 2017 19:16, "David Clark" <n

[2017-09-08 12:20] AlecRust opened #43 "Scrolling within modal"
This module prevents scroll of the page when a modal is opened with [no-scroll](https://github.com/davidtheclark/no-scroll), which is what I'm after.

However this also seems to disable scrolling of content within the modal. For example I have a 3rd party `<iframe>` inside which I can't find a way to make scrollable.

Perhaps `react-aria-modal` could only disable the scroll of the main page, but n

[2017-09-08 14:37] davidtheclark commented on #43
@AlecRust: no-scroll disables scrolling on the document, not on the modal or the fixed-position modal's backdrop. So you can have internal scrolling within the modal or backdrop.

I'm not sure I'm understanding the issue correctly, though — sounds like you're running into problems with an iframe, specifically, not the modal?

[2017-09-09 11:39] AlecRust commented on #43
You're absolutely right, my apologies. I was having an [iframe scroll issue](https://davidwalsh.name/scroll-iframes-ios), nothing to do with `react-aria-modal` :)

[2017-09-09 11:39] #43 closed

[2017-09-26 09:02] codingcircus opened #46 "noScroll Prop, problem with recaptcha"
I just saw, that there was already an issue for adding a prop to turn off the noscroll functionality (https://github.com/davidtheclark/react-aria-modal/issues/39), where you said you won't do this for now, however this morning I ran into a problem with the noScroll part of the modal.

I have a modal with a form inside that uses googles invisble recaptcha. Unfortunately the position fixed and negat

[2017-09-28 17:28] davidtheclark commented on #46
I guess if adding another prop won't be a big deal if there are these necessary use cases. Please submit a PR and I'll take a look. Thanks!

[2017-09-28 21:02] davidtheclark opened #47 "Allow React 16 peer dependency"
There shouldn't be much trouble with this. Need to test to make sure.

[2017-09-30 16:48] #47 closed

[2017-10-07 13:53] davidtheclark commented on #46
Closed by #49.

[2017-10-07 13:53] #46 closed

[2017-11-13 21:10] corbmanj opened #51 "verticallyCenter prop not working with React16"
VerticallyCenter={true} does not seem to be respected in React 16. Has anyone else run into this issue. What css properties is VerticallyCenter supposed to add? I'm happy to open a PR if you give me some direction of where to start.

[2017-11-13 21:48] #51 closed

[2017-11-25 21:55] oyeanuj opened #52 "Ability to provide Underlay as a component/function"
Hi @davidtheclark! I was wondering what your thoughts are around being able to provide the Underlay as a function or a component?

I am using Styled Components and I'd prefer to be able to specify the styled component to render than to pass inline styles, or classname. It would also allow anyone using any of the styled libraries to be able to reuse their styling and components.

Another related th

[2017-11-27 14:57] davidtheclark commented on #52
@oyeanuj: Could you propose how you think this might work in practice? That is, what combination of props and children — what would it look like to the user?

[2017-11-28 07:37] oyeanuj commented on #52
@davidtheclark Thanks for the quick response. My initial thinking has been something along these lines:

[code]

This would replace the need potentially for users needing to pass in classnames, styles, underlayId or color. From glancing at the source code, it seems like the only other thing which is happening is adding of a click handler for `underlayClickExits` prop. That, I imagine we can add to

[2017-11-29 00:27] oyeanuj opened #53 "Passing through classname to AriaModal wrapper"
Hi @davidtheclark! This is again somewhat related to the usage mentioned in #52.

Styling external components such as `AriaModal` using libraries like StyledComponents/Emotion rely on these components passing through `className` (https://www.styled-components.com/docs/basics#styling-any-components).

So, ideally, one would be able to do the following:
[code]

Currently, this doesn't work as the cl

[2017-12-02 20:30] davidtheclark commented on #53
The problem here is that there are multiple elements rendered. Should the classes go to the underlay or the dialog?

Is there some way with styled components to output a string of classes that you could pass to the existing `dialogClass` and `underlayClass` props? Seems that would be a good feature.

[2017-12-05 03:45] emmazzw opened #54 "#IE-11# react aria modal seems to be reading the entire modal content when an modal element is focused"
When we were doing the accessibility test for our react aria modal with IE 11, NVDA was reading the entire modal content out even though a modal input box was focused with mouse hovering the modal underlay part. Only by hovering back to the focused element, NVDA could stop reading other info but the focused(hovered as well) element itself. Chrome doesn't seems to have this issue..

Could someone h

[2017-12-05 21:51] oyeanuj commented on #53
@davidtheclark I was thinking that the class would go to the top-most parent model (also allows for most CSS customization that way) especially since one can already pass classes to dialog and underlays today.

Agree on that feature, but to the best of my knowledge, not something you can do today. One could pass a different component to `styled`, one that wraps around `AriaModal` and intercept the

[2017-12-09 15:31] davidtheclark commented on #53
@oyeanuj: I'm not sure I want to change the API of this library to introduce a generic `className` prop that only exists for this particular situation with StyledComponents.

I actually think this sounds pretty reasonable. I'm thinking that's the best option here. This seems like a problem that the StyledComponents maintainers and users need to solve, rather than trying to change all the libraries

[2017-12-09 15:31] #53 closed

[2017-12-09 15:50] davidtheclark commented on #52
It's not clear to me how this would play out. How, for example, would you get props to `MyUnderlayComponent`? I guess if you'd like to illustrate with a PR, I'm curious to see what you have in mind.

[2017-12-09 23:30] oyeanuj commented on #53
@davidtheclark So I tried the solution that I suggested above, and it actually doesn't work that well since the parent component that is being `styled` isn't part of the Portal tree 😞

Also, totally your call if you don't see `className` prop being part of the API but just wanted to put out that this is useful not just for SC but anyone who is using similar genre things like Emotion, and Glamor. I

[2017-12-09 23:33] oyeanuj commented on #52
@davidtheclark wo patterns that I see commonly used is the `underlay` prop being a function to which you'd pass the props that a user should spread into their Underlay. `React-AutoSuggest` is a good example of that function as a child pattern. Alternatively, the library could clone and inject props to the underlay component.

But I'll think more about it and see if I can create a PR.

[2017-12-14 19:22] cnelson9 opened #55 "Can't set returnFocusOnDeactivate on FocusTrap"
I have a scenario where I need to set returnFocusOnDeactivate to false on the FocusTrap, but there is no way for me to set it with the AriaModal props.

I would make a PR, but I don't have permission to publish a branch.

[2017-12-14 19:23] cnelson9 commented on #55
Actually, it would be nice if I could pass in all of focusTrapOptions

[2017-12-17 20:48] davidtheclark commented on #55
@cnelson9 sounds good. Open to a PR implementing `focusTrapOptions`.

You should be able to create a PR by forking the repo and working from the fork. There are some guides you can find if you search for how to contribute  pull requests on GitHub (like [this one](https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github)).

[2018-01-11 14:53] davidtheclark commented on #55
Closed by #56.

[2018-01-11 14:53] #55 closed

[2018-02-21 01:15] ericedem opened #59 "Ability to override default styles"
Hey @davidtheclark, thanks for the awesome component!

Would love the ability to override individual styles like z-index. This would be nice over time so that we don't need to keep our styles up to date with `react-aria-modal`.

I'd propose an interface like:

[code]

Where the `overrideDialogStyle` object would get mixed into the `dialogStyle`: https://github.com/davidtheclark/react-aria-modal/bl

[2018-02-21 01:30] davidtheclark commented on #59
@ericedem Have you tried the `dialogStyle` and `underlayStyle` props? I believe those are supposed to do just what you're looking for.

[2018-02-21 01:41] ericedem commented on #59
You are correct 🤦‍♂️ . `underlayStyle` fixes my problem. Thanks for the quick response!

[2018-02-21 01:41] #59 closed

[2018-03-01 09:05] everdimension opened #60 "What if there are no focusable elements within a modal?"
Hi! I have just browsed at your library a little bit, so i haven't had the time to actually check this, and it's just a guess that you might want to look into.

* Scenario 1:
What if the modal has no focusable elements within? Will it still trap focus correctly?

* Scenario 2:
What if I'm dynamically changing content within a modal? E.g. I might have a multi-step form inside of it or something. An

[2018-03-03 16:49] davidtheclark commented on #60
@everdimension

1. Review existing issues to learn about this.

2. Try it out and see what happens. If you find behavior that seems buggy, please file a new issue about the bug.

[2018-03-03 16:49] #60 closed

[2018-03-15 20:55] conanm opened #61 "iOS Chrome Resizes window when form is selected + keyboard exited"
I'm presenting a login modal using this lib, it's a baffling bug that only occurs on Chrome on iOS. It's PROBABLY a Chrome problem, tbh, but any help would be appreciated...

`<AriaModal
        titleText="Register"
        onExit={()=>{this.hideRegisterModal(false);}}
        initialFocus="#close-button"
        getApplicationNode={this.getApplicationNode}
        underlayClass="demo-seven__under

[2018-03-28 12:02] everdimension opened #62 "[feature] When modal is rendered into a certain node, `esc` should close the modal when it's pressed within that node"
This might be optional behavior. Perhaps even a separate option altogether.

Something like a `rootNode` prop, maybe?

[2018-03-31 17:51] davidtheclark commented on #62
@everdimension: Can you please give a more concrete example of this use case?

[2018-04-01 09:11] everdimension commented on #62
What do you mean?

I just wish to optionally make it so that the `esc` press which originated _outside_ the modal container wouldn't close the modal.

[2018-04-01 14:29] davidtheclark commented on #62
I'm just trying to understand the use case here because it's not obvious to me.

How do you hit escape outside the modal — did you turn off the focus trap? If so, *and* it doesn't appear like a modal on top of everything, I'm wondering what the modal provides for you.

[2018-04-01 18:19] everdimension commented on #62
Use-case: application is integrated within another application, but not within an iframe.

In this case the modal will be on top of everything within the integrated app, but the surroundings might still be available and interactive. I didn't think about how focus trap would allow you to go outside, though. But maybe this should be allowed, too, if the user, say, clicks somewhere outside.

[2018-04-01 19:46] davidtheclark commented on #62
Ah, weird. I think it might be perfectly fine to attach the escape listener to the underlay [instead of the document](https://github.com/davidtheclark/react-aria-modal/blob/7b2ad97858bbfad93e486f176341ce556bd8c9a4/src/react-aria-modal.js#L41). That should solve things for you, right?

[2018-04-02 09:49] everdimension commented on #62
Yeah, or better yet, we might just check inside the `checkDocumentKeyDown` handler whether the target is a child of the underlay.

[2018-04-08 00:42] davidtheclark commented on #61
@conanm: Try setting the prop `scrollDisabled={false}`. Does that make a difference?

If so, the bug is related to the dependency no-scroll: https://github.com/davidtheclark/no-scroll

[2018-04-08 00:44] davidtheclark commented on #62
Yep, @everdimension, that sounds like a good plan. PR welcome.

[2018-04-12 01:54] codecrutch opened #63 "Focus Trap Breaks After Hitting Escape (with escape closing disabled)"
In the 3rd demo, if you open the modal, focus trap works.  But if you hit escape, to try and close the modal (escape is disabled here for closing the modal), the focus trap is then broken.

[2018-04-15 03:44] oyeanuj opened #64 "Clarifying behavior wrt children when modal is not mounted"
Hi @davidtheclark,

I noticed that when `children` are passed to the `<AriaModal />` component, they are being accessed/rendered even when the `mounted` is false. I was a little surprised by that, and was wondering if that is by design.

If yes,
1. Do you think we should mention it in the docs in the `mounted` section so that folks are aware?
2. Thoughts on a render prop pattern where the `AriaMod

[2018-04-15 13:32] davidtheclark commented on #64
:wave: @oyeanuj.

[Demo four](http://davidtheclark.github.io/react-aria-modal/demo/) shows usage of the `mounted` property working as expected: the modal is not rendered when `mouted={false}`. So I either don't understand your question or you might have a bug in your implementation?

[2018-04-15 13:42] davidtheclark commented on #63
Thanks, @codecrutch. An easy fix that I'll have up shortyl.

[2018-04-15 13:56] #63 closed

[2018-05-22 22:29] doodirock opened #66 "Focus trap breaks native radio form flow"
This is more of a focus trap issue, but it applies directly to ADA issue so I wanted to bring it up here since react-aria-modal uses forcus-trap for locking context.

Just ran into an issue using this on a project with modals that have a form with radio buttons. The standard functionality for a radio button group is that when I tab into a radio form, it will focus in on the first unselected radio

[2018-05-26 20:13] davidtheclark commented on #66
Thanks, @doodirock. Tracking upstream at https://github.com/davidtheclark/tabbable/issues/28

[2018-05-26 20:13] #66 closed

[2018-06-13 18:25] Ross-Esmond opened #67 "Switch from using react-displace to using react-portals."
Portals makes react-displace redundant. [Discussion from react-displace repo.](https://github.com/davidtheclark/react-displace/issues/6) Removing one more dependency would be nice, although it would change react compatibility from 15 to 16 and might require a breaking API change. It might make since to "shelve" this issue but leave it in the backlog for the next major version, if and when that com

[2018-06-13 21:31] davidtheclark commented on #67
Thanks @Ross-Esmond. react-displace uses Portals when they're available and older methods when they're not. I'm not planning to remove compatibility for React 15 just yet, so still don't want to shake the react-displace dependency.

[2018-06-13 21:31] #67 closed

[2018-06-27 18:42] mtrueblood opened #68 "Not able to tab into iframe"
When we put an iframe into the modal-body, we're unable to tab into the iframe.

I even went to the demo page and updated the modal-body section of demo number 5 with a random youtube iframe embed code. I'm unable to tab and click to watch the video and the focus then gets stuck on the 'deactivate modal' button. Here is a screenshot:
![image](https://user-images.githubusercontent.com/7134168/41992

[2018-06-28 00:18] davidtheclark commented on #68
Yeah, this is a known issue with the lower-level tabbable library: https://github.com/davidtheclark/tabbable/issues/23. Solutions welcome!

[2018-07-27 00:58] mjlangan opened #69 "Dragging onto underlay closes modal"
I put a breakpoint in `checkUnderlayClick` and I understand why it acts the way it does, but it caught me by surprise the first time my modal disappeared because I was dragging my mouse around inside it. I'm not sure if this is an intended behavior or not, so feel free to educate me if it is :)

This behavior can be reproduced in Chrome & Safari on the demo modals configured to close on underlay c

[2018-07-27 01:08] davidtheclark commented on #69
@mjlangan Huh, that's strange. So in React's synthetic event, the `e.target` element depends on where you mouse*up* rather than where you mouse*down*? That doesn't seem right ... I wonder if this is some known problem ...

[2018-07-27 01:35] davidtheclark commented on #69
Or maybe (probably) it's doing exactly what it's supposed to ... in which case I'm not sure what the better strategy is here. Any suggestions?

[2018-07-27 18:41] mjlangan commented on #69
@davidtheclark I found that instead of:
[code]
I can do this:
[code]

And the modal now only closes when I click outside the modal and ignores drags. I'm not sure what implications this has on touch users, though.

[2018-07-27 18:59] davidtheclark commented on #69
Yeah, that's the problem. Right now you can use this modal in such a way that it vertically overflows the viewport and you can scroll with touch by swiping either inside *or* outside the modal — so we don't want to change things such that a *swipe* outside closes. So then you're stuck with the complexity of determining whether a touch is a click-like tap or a swipe.

I guess we could use something

[2018-07-27 21:14] mjlangan commented on #69
I cloned the repo and tried the demo with my `onMouseDown` change. When I test "mobile" using Chrome's dev tools, the scrolling behavior you describe still works:

Demonstration in RecordIt (it doesn't show the touch cursor so it looks like I have a normal pointer). First scrolling using the mousewheel and then using swipes.
http://recordit.co/vRSfjgWmbO

[2018-07-28 22:56] davidtheclark commented on #69
Huh, I'm glad I'm wrong! I tried this out on my own iPhone and bunch of mobile browsers with Browserstack — and found no problems. `onMouseDown` seems to work 🌮

I am having a hard time time finding any *documented explanation* of this — like, does no `mousedown` event fire if you touch-drag, only if you tap? I would love to read about why this works. But in the meanwhile I think I've checked in a

[2018-07-28 23:01] davidtheclark commented on #68
Closing here, as the root problem is in tabbable and focus-trap.

[2018-07-28 23:01] #68 closed

[2018-07-28 23:14] davidtheclark commented on #40
I'm unable to find sufficient confirmation that this is *desirable* and *expected* behavior for a modal, so I'm going to close. If someone is able to show that more than one expert believes this is the right thing to do, please open an issue in [focus-trap](https://github.com/davidtheclark/focus-trap), the library that tries to manage focus.

[2018-07-28 23:14] #40 closed

[2018-07-28 23:15] davidtheclark commented on #17
I'm not reproducing this error anymore with the latest library and latest Firefox, so closing.

[2018-07-28 23:15] #17 closed

[2018-07-31 19:52] davidtheclark commented on #69
Thanks @mjlangan. I'll try to get out a release tonight.

[2018-08-01 00:32] #69 closed

[2018-08-06 19:19] jknanda78 opened #72 "How to handle ESC key press for components rendered inside the modal?"
Hello,

I have a menu component that will close on ESC keypress. But while doing that the modal gets closed.

Is there a way to handle ESC keypress for components (rendered inside the modal) without closing the modal? Something out of the box?

Thanks in advance.

[2018-08-07 02:37] davidtheclark commented on #72
Have you tried `event.stopPropagation()` on the escape event you capture for you menu?

[2018-08-08 00:07] jknanda78 commented on #72
I did try and it worked. But I thought if the solution could be available from your component.

Thanks.

[2018-08-08 15:49] davidtheclark commented on #72
Thanks @jknanda78. I think `e.stopPropagation()` is the standard way to do this, and I don't know of anything we could do from *this* component to make it easier than that.

[2018-08-08 15:49] #72 closed

[2018-08-08 23:04] davidtheclark commented on #54
I don't think this is a problem with this component. If anybody disagrees, though, please re-open.

[2018-08-08 23:04] #54 closed

[2018-08-08 23:05] davidtheclark commented on #52
Closing as stale, since I'm still not sure this suggestion would work out. Happy to field a PR, though.

[2018-08-08 23:05] #52 closed

[2018-08-08 23:05] davidtheclark commented on #64
Closing as stale.

[2018-08-08 23:05] #64 closed

[2018-09-22 10:39] preethivangaveti opened #73 "While scrolling in iphone cursor is also scrolling"
![1dd2f6d0-901d-4c10-bb43-624588d05fd2 1](https://user-images.githubusercontent.com/37062211/45916343-eb261400-be81-11e8-913c-04d00023bbf9.png)

[2018-10-17 12:23] nahme2 opened #74 "Modal getting closed when user tries to scroll the modal"
When I am trying to scroll the modal the modal gets closed immediately. After debugging the code I found that the script which actually closes the modal in general scenarios.
checkUnderlayClick = event => {
    if (this.dialogNode && this.dialogNode.contains(event.target)) return;
    this.exit();
};
Here the main problem is clicking on scrollbar is same as clicking outside the modal content or ba

[2018-10-28 15:20] #74 closed, assigned to nobody

[2018-10-31 22:38] ericedem opened #77 "Clicking a portal inside the modal causes `onExit()` to fire."
# Use Case

We have a case where we render a contextual menu inside of a modal dialogue. This menu is implemented as a portal (via [displaced](https://github.com/davidtheclark/react-displace)) and positioned with styling. When clicked, the modal closes.

# The Problem

It looks like the problem is that when a click event happens, a raw DOM [check is made](https://github.com/davidtheclark/react-ari

[2018-10-31 23:51] ericedem commented on #77
Ok a quick implementation looks like I'm able to work around the issue by doing something like:

[code]

It even seems to work on iOS Safari, but I'm not sure that is reliable.

[2018-12-01 21:40] davidtheclark commented on #77
Hi @ericedem. As you suggest, tracking the mouse sounds pretty unreliable. I'd be interested in hearing any other ideas for solving this!

[2018-12-04 16:15] ericedem commented on #77
I haven't dug into the React code for portals too deeply, but they are somehow figuring out how to propagate events correctly up the portal chain. I wonder if it would be possible to hook into this logic, instead of looking directly at the dom. Then it would work basically how it does now, just looking at the React component hierarchy instead.

For what anyone else who is hitting this issue: What

[2018-12-05 14:55] zzolain opened #78 "TouchMove onto underlay prevents all components TouchMoving on iOS"
TouchMove onto underlay toward a particular direction prevents touchMove toward same direction onto modal for a while(about 1 second).

It seems if another touchMove events are added within disabled period, the duration increases.

[2018-12-05 16:44] ericedem commented on #77
Here is an issue that has since been closed in react discussing this problem, with a workaround: https://github.com/facebook/react/issues/10962

[2018-12-09 14:55] davidtheclark commented on #77
One relatively simple solution that might work is to add an `underlayClickExitsExeceptions` prop, which takes an array of strings, each of which is a selector; and if the selector matches the parent of a clicked element, the click will *not* close the modal.

So if you have a Portal popover component inside the modal, you can make it render an element with a distinct selector (e.g. `[data-popover]

[2018-12-10 15:44] ericedem commented on #77
I think that sounds great! 👍

[2018-12-18 22:27] HaysaRodrigues opened #79 "Unable to preventDefault inside passive event listener due to target being treated as passive."
Hello!

I am trying to use the react-aria-modal, I'm copying my code below so you can see how it's implemented, with all the properties I'm using. But I am facing the issue **`Unable to preventDefault inside passive event listener due to target being treated as passive.`**, when I try to click outside the dialog.

[code]

does anyone knows how to fix this?

[2018-12-18 23:03] HaysaRodrigues commented on #79
this one has solved, https://github.com/OwlCarousel2/OwlCarousel2/issues/1884, but I don't know if it is the best solution.

[2018-12-21 15:26] amoreau2002 opened #80 "Using component in Typescript"
Having issue implementing the AriaModal component in typescript.
Compiler always show me "Type '() => void' is not assignable to type '() => ReactNode'" on render method.
Any one have used it in typescript before ?

[2019-01-29 05:32] YUzhva opened #82 "<html> tag receive inline styles on modal opening"
My HTML template looks like:
[code]

When the modal is opened, I'm receiving inline style like:
[code]

The trick if that CSS **top** style changes and that breaks my layout...

How can I avoid of changing inline styled for HTML tag? (at the same time the content under modal should not be available for scrolling)

P.S: an inline style that is bad practice, but it's required in some cases.
In the c

[2019-02-12 12:48] amoreau2002 commented on #80
Thx @olabaloo i have strip every part of my app and have past your DemoOne injto my app.tsx.
I still have this anoying error :

react-dom.development.js:62 Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have

[2019-02-18 10:00] olabaloo commented on #80
@amoreau2002 This looks like a react usage error that is unrelated to react-aria-modal. I suggest you google how to fix it.

[2019-02-19 14:08] #80 closed

[2019-02-22 13:51] olabaloo opened #84 "getApplicationNode() does not compile (when using TypeScript strictNullChecks option)"
# The Problem

When using react-aria-modal in combination with [TypeScript compiler option](https://www.typescriptlang.org/docs/handbook/compiler-options.html) `strictNullChecks`, the solution does not compile.

The compile complains with the following message:
[code]

# Solution

Changing `getApplicationNode?(): Node | Element;` to `getApplicationNode?(): Element | null;` in the file `@types\reac

[2019-02-22 18:13] joeswick999 opened #85 "Modal does not close when clicking the overlay"
Modal will not close when clicking the overlay.

https://codesandbox.io/s/kmlr5z5n4o

[2019-02-22 21:14] rsnay commented on #85
This appears to be because the #root div element into which the main react component is being rendered has a height of 0, and so no click events are getting captured. Making the root div element fill half of the screen allows the modal to be closed by clicking the overlay in that half of the screen. Updated demo: https://codesandbox.io/s/545v289mwl

[2019-02-22 23:45] joeswick999 commented on #85
You are right, thank you so much.

[2019-02-22 23:45] #85 closed

[2019-02-28 21:29] ericschultz opened #86 "Handling inner focus-traps"
I'm trying to wrap my head around focus-trap and modals. In particular, if you have a focus-trap inside your modal, you're supposed to set `focusTrapPaused` to true on the modal. I was considering creating a component to manage this situation but I want to make sure I understand it. Do you foresee any situation where someone WOULDN'T want to pause an outer focus-trap when an inner one is active?

[2019-03-09 17:52] davidtheclark commented on #86
Hi @ericschultz. With the recent v4 nested focus traps should automatically pause: https://github.com/davidtheclark/react-aria-modal/blob/master/CHANGELOG.md#400. Does that solve your problem?

[2019-03-15 18:30] ericschultz commented on #86
@davidtheclark I hadn't seen that! The [README.md](https://github.com/davidtheclark/react-aria-modal#focustrappaused) still says that you need to manually paused if you have a nested focus-trap so I assumed that was still true.

[2019-03-15 18:30] #86 closed

[2019-03-17 18:38] davidtheclark commented on #86
Great, @ericschultz. I adjusted the docs in 9dd1bb05dd3f47a242db9a13ca86b4c63d2fb6f5.

[2019-04-05 13:12] olabaloo commented on #84
A workaround for this problem is to assert the type of the value returned from `getApplicationNode` in the component:
[code]

[2019-04-21 05:26] prakashini opened #87 "React aria modal with kendo query Dropdownlist onChange event not triggered."
Hi,

We have our modal built with kendo query ui and have wrapped it up with aria modal and most of the accessibility related is working fine. But facing one issue where the kendo dropdownlist does not trigger onChange event when selecting the <li> Items. The selection works fine with keyboard events(ie) able to navigate through keyboard keys. Can you please give some inputs on this.

[2019-04-24 16:29] ericschultz opened #88 "Click on underlay closes multiple modals"
When `underlayClickExits` is true, clicking on the underlay around a modal will close the modal. This works perfectly when there's a single modal.

On the other hand, this works a little unexpectedly when there are multiple modals. In that case, if you have a modal and create a second modal and they both have `underlayClickExits` set to true, one would expect only the second modal to close when yo

[2019-05-19 18:04] davidtheclark commented on #87
I suspect that this is because the modal's focus-trap is preventing you from shifting focus to the dropdown (via click). Probably Kendo is rendering the dropdown in a node *outside* the modal, so it is not recognized by the modal's focus trap.

This is one of the main problems the modal has — dealing with popovers/dropdowns inside the modal that are in a displaced DOM node *outside* the modal's ow

[2019-05-20 07:07] bradbarrow commented on #78
I'm experiencing this too. It's reproducible on the demo page, with Demo 3, the scrolling one.

If you open the demo on an iOS device, then swipe/scroll with your finger on the gray underlay as though you were attempting to scroll the content behind the modal. Do this 3 to 4 times then attempt to scroll the modal's contents...it freezes up. After a brief period of time, the modal content will beco

[2019-05-20 07:14] bradbarrow commented on #78
https://patrickmuff.ch/blog/2014/10/01/how-we-fixed-the-webkit-overflow-scrolling-touch-bug-on-ios/ this fixes it, but forces your modal to have a scroll bar even when it's content isn't long enough to warrant one.

[2019-05-31 19:41] spencersteers commented on #88
Ran into this same issue. I did a little investigating and something I noticed is that if you render the second `<AriaModal />` outside of the first then clicking the underlay exits in the order you would expect.

[2019-06-04 12:02] SonyaOrlova opened #89 "Update focus-trap -> focus-trap-react in dependencies"
Hi! After fixing this issue in focus-trap https://github.com/davidtheclark/focus-trap/issues/81, could you please update focus-trap`s version in focus-trap-react https://github.com/davidtheclark/focus-trap-react/blob/master/package.json and in react-aria-modal so we can use the new functionality in our project? Thanks

[2019-06-08 15:32] davidtheclark opened #90 "Seeking co-maintainers!"
I've been shifting my focus away from UI development, so don't plan on addressing new issues myself. If you use this library and want to see development continue, you can make that happen by becoming a co-maintainer — with permissions to triage issues, merge PRs, cut releases, etc.

Please comment below if you're interested!

Another possibility is for a dedicated owner to fork this code and creat

[2019-06-22 13:24] ArfatSalman commented on #90
Hi @davidtheclark

I would like to be a co-maintainer. Let me know what you need and I'd be happy to help in any way I can.

Thanks.

[2019-06-22 16:10] davidtheclark commented on #90
Great, @ArfatSalman. I added you as a repo collaborator to start with. Feel free to triage and respond, give feedback on PRs, and so on.

[2019-06-22 16:21] ArfatSalman commented on #90
Thanks, @davidtheclark . I am reading the source code, and I'd be happy if you could take some time to just basically go through the project in 15-20 mins of a video call when you want?

[2019-07-15 14:19] jlurena commented on #90
Hey dude, you linked the wrong url for this issue on the README

[2019-08-12 06:46] grgr-dkrk opened #93 ""componentWillMount" is no longer recommended"
The `componentWillMount` method is deprecated since React 16.3, and it will be removed in React 17. (we will now see a warning when using it in 16.9)
It's necessary to use the `constructor` or `componentDidMount` method instead of `componentWillMount`.
We can also use the `UNSAFE_componentWillMount` but it's not needed in this case I think.

https://github.com/davidtheclark/react-aria-modal/blob/d

[2019-08-13 20:42] gabycperezdias commented on #87
I managed to make it work by creating a focus context where I set the actual context to be used as root to append any floaters. But this does not work when using renderTo because the element is 'cloned' so the references are lost, any ideas of how to work around this?

[2019-08-14 13:42] ivankoleda commented on #87
<AriaModal
        focusTrapOptions={{
          clickOutsideDeactivates: true,
        }}

           ...
      </AriaModal>
worked fine for clicking on popover inside modal. `allowOutsideClick` option allow to set this option conditionally. Full options list is here https://github.com/davidtheclark/focus-trap#focustrap--createfocustrapelement-createoptions

[2019-08-14 14:05] gabycperezdias commented on #87
But allowing outside click will mess with the whole point of having a focus trapped, won't it? And, what if I want the popover to be clickable but my dialog to not close when the popover is clicked? And, allow outside click defeats the whole accessibility point of using focusTrap, right?

[2019-08-17 03:41] rahildar commented on #90
Hi @davidtheclark
I am interested in being a co-maintainer. Happy to help. Please let me know if required.
Thank you

[2019-08-31 15:20] Gerard097 opened #94 "Background image resizing bug"
If I try to open a modal while the scroll of the window is visible and then grow the window height the background image doesn't resize correctly (cover). Here is a gif explaining this process:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/21144013/64065851-85d1bb80-cbd8-11e9-858f-2c5093e34765.gif)

and the src: https://github.com/Gerard097/Modal-Bug

[2019-10-07 16:38] wldcordeiro commented on #90
This is something I'm interested in @davidtheclark I've been running into issues from the `focus-trap` v5 bump never making it here. so it'd be best if I could co-maintain `react-focus-trap` and `react-aria-modal` since they depend on one another too.

[2019-10-07 17:34] wldcordeiro opened #96 "React 16.9+ failures: `initialFocus` refers to no known node"
I've run into issues when updating to latest React where that error is thrown, primarily in test environments. It appears like we're checking for the `initialFocus` before it has rendered though when I run `debug()` in `react-testing-library`.

Working on getting a minimal reproduction case.

[2019-11-11 14:44] nijynot opened #101 "Disable focusTrap on `AriaModal`"
There's to no option to disable the `focus-trap` on the modal.
There's the `focusTrapPaused`, but that only pauses it, doesn't deactivate.

[2019-11-27 10:18] toolness commented on #96
Ah I ran into this as well!  I think it's actually reported in one of this library's dependencies at https://github.com/davidtheclark/focus-trap-react/issues/24.  About a year ago, I documented my findings in a comment at https://github.com/davidtheclark/focus-trap-react/issues/24#issuecomment-431424268.

[2019-11-27 10:19] toolness commented on #93
Thanks, I think this is currently being worked on in https://github.com/davidtheclark/react-aria-modal/pull/95!  Hopefully it will be merged soon.

[2019-11-27 10:21] toolness commented on #90
Hello, I'm interested in also becoming a co-maintainer if you're still looking, although I don't know the codebase very well so I'm not sure how suitable I'd be for it.  I would definitely seek the input of other co-maintainers before merging anything.

[2019-12-16 20:27] blakejoy opened #102 "TalkBack: Going to content behind modal"
Anyone else have an issue with talkback allowing users to swipe to the content behind the modal?

[2020-01-06 20:57] chaddjohnson commented on #101
It definitely would be useful to have a way to disable the focus trap. Maybe something simple like this:

[code]

However, this currently does not work as focus-trap-react [only acknowledges specific props](https://github.com/davidtheclark/focus-trap-react/blob/master/src/focus-trap-react.js#L20).

One use case is a designer mode where a preview of a modal, using react-aria-modal, is displayed on

[2020-02-10 18:13] crutchcorn commented on #102
We're seeing the same issue on a project I'm working on. This isn't just an issue with TalkBack - we're seeing the same behavior with Voiceover on iOS and MacOS.

[2020-02-10 18:23] crutchcorn commented on #102
A link to a minimal recreation:

https://stackblitz.com/edit/react-aria-modal-test

[2020-02-13 19:57] crutchcorn commented on #102
The solution, I've found, is to use `getApplicationNode` in order to `aria-hide` the background

[2020-04-27 13:21] naveenkumarpg opened #106 "Behaviour is not same in mobile devices."
the module is so simple and easy to use. But is there any way to have similar behaviour when the screen reader is on mobile .?

Focus Is going out of the modal in the case of screen readers are on.

[2020-04-27 13:25] naveenkumarpg commented on #106
This issue can be replicable when talkback is on, it's happening on the demo page as well, it's working fine on desktop screen readers for example voiceover.
http://davidtheclark.github.io/react-aria-modal/demo/

[2020-05-21 14:06] alindkjain opened #107 "JAWS reads non-interactive elements as Clickable"
Hi,

I am developing a React application using "react app rewired".
I was trying to integrate react-aria-modal component. Modal is appearing properly, but when running JAWS, it is reading "clickable" at the end of each line of text message in modal.

Is this a known issue? While searching, I found this could be a issue when any parent has click function, so I removed everything from the page and j

[2020-08-17 14:51] guramidev commented on #90
@davidtheclark I would like to help out, i can see this has some open issue i could help to fix.

[2020-08-20 14:44] rdubigny commented on #89
This PR seems to solve the issue https://github.com/davidtheclark/react-aria-modal/pull/110/files .

@davidtheclark @wldcordeiro It will be great to merge this one !

For others who, like me, has the "Uncaught Error: initialFocus refers to no known node" error, I installed the dependency from @marcolanaro 's fork as a workaround: `npm install https://github.com/marcolanaro/react-aria-modal#d0064f4

[2020-08-25 20:40] marlomgirardi commented on #90
Hi @davidtheclark, I would like be a co-maintainer and help the package be up-to-date.

[2020-08-31 08:37] marlomgirardi commented on #107
Hey @alindkjain. Can you share a repo that reproduces the problem?

[2020-09-09 08:12] guramidev commented on #90
@davidtheclark Can you re-send the invite please, i was out on August.

[2020-10-29 13:32] rdubigny commented on #89
I finally ended up using https://www.npmjs.com/package/@justfixnyc/react-aria-modal

[2020-11-05 15:54] #93 closed

[2021-03-26 01:33] ACPK commented on #90
@davidtheclark - My colleague and I are interested.

[2021-04-29 10:45] AntonSerous commented on #90
@davidtheclark any updates on maintaining this package? I'd love to help

[2021-08-18 20:38] scottm-cc commented on #93
This issue is two years old now and has not actually been fixed yet by #95 (also about 2 years old) or #108 (almost a year old). The warning alone clutters up consoles and test suites. I am simply commenting to vouch for something to be done about this.

[2021-08-18 21:30] marlomgirardi commented on #93
Fixed at #121

[2021-09-01 15:24] mattconvente commented on #88
@spencersteers Also encountering this bug. When you say "render outside of the first," what specifically do you mean? Mounting the second modal to a container other than `<body>` using `AriaModal.renderTo`? Because I needed a quick fix, I ended up setting `underlayClickExits` to `false` and just accepted the loss of that behavior, but it's not optimal.

[2021-09-15 21:17] spencersteers commented on #88
@mattconvente I believe I had an `<AriaModal />` that had a child `<AriaModal />` which was conditionally rendered — but it was a long time ago so I'm not exactly sure if that is what I meant.

[2021-11-08 11:12] igoradamenko commented on #89
Not sure, but it looks like the issue has been already resolved 🤔

https://github.com/focus-trap/focus-trap-react/blob/master/package.json#L94

https://github.com/davidtheclark/react-aria-modal/blob/master/package.json#L34

[2021-12-07 08:02] ref45638 commented on #87
focus-trap prevent the click function outside the modal.
so I find the way to fix this bug is that we should append the thing you want to click inside the modal

here is the demo:
https://codesandbox.io/s/react-arial-modal-cannot-click-84po7?file=/src/Datepicker.js

[2022-04-12 09:16] LukaszGrela opened #126 "Support for React 17/18"
I'm working with React 18 and when I tried to install this module I was reported:

[code]

Would you support React 17/18?

[2022-05-31 09:48] votemike commented on #126
Maybe create a PR?

[2022-06-07 10:37] themagickoala commented on #126
PR here: https://github.com/davidtheclark/react-aria-modal/pull/127

[2022-07-08 16:23] sfiggins commented on #126
I am +1 for this PR. My current workaround is to set legacy peer deps to true in my project's .npmrc.

`npm config set legacy-peer-deps=true --location=project`

But a simple 4.0.2 release with this one change would be appreciated.

[2022-08-17 08:38] pkletsko commented on #126
Can you please prioritise this PR. Really need it.

[2022-08-18 06:20] hallvors commented on #90
@davidtheclark We're also using this package in a project and will consider helping with maintenance. Small development firm in Oslo, Norway. :)

[2022-09-05 08:53] MBondarchuk-dev commented on #126
Is there any progress with this issue? My team needs it as well.